@import url('https://fonts.google.com/icons');


:root {
    --primary-color: #FE5F55;
    --secundary-color: #F0B67F;
    --accent1-color: #D6D1B1;
    --accent2-color: #C7EFCF;
   
    --heading-font: 'Angkor', serif;
    --paragraph-font: 'Open Sans', serif;
   
    --nav-background-color:#357743;
    --nav-link-color:  #bb7e45;
    --nav-hover-link-color: #a89d53;
    --nav-hover-backgound-color: #34693e;
   }

header a {
   
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

 h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

p {
    padding: 25px;
}

nav a {
     display: block;
     color: var(--nav-link-color);
     text-decoration: none;
     padding: 1rem;
}

footer a {
   
     display: block;
     color: var(--nav-link-color);
     text-decoration: none;
     padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

.img {
    display: block;
    width: 100%;
    height: auto;
  }

  .img_happy {
    width: 100%;
    height: auto;

    align-content:right;
    margin-left: 0;
    margin-right: 0;



  }

  header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
