@import url('https://fonts.google.com/icons');


:root {
    --primary-color: #FE5F55;
    --secundary-color: #F0B67F;
    --accent1-color: #D6D1B1;
    --accent2-color: #C7EFCF;
   
    --heading-font: 'Angkor', serif;
    --paragraph-font: 'Open Sans', serif;
   
    --nav-background-color:#357743;
    --nav-link-color:  #bb7e45;
    --nav-hover-link-color: #a89d53;
    --nav-hover-backgound-color: #34693e;
   }

body{
    margin-left: 10%;
    margin-right: 10%;
}


header a {
   
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

p {
    padding: 15px;
}

nav a {
     display: block;
     color: var(--nav-link-color);
     text-decoration: none;
     padding: 1rem;
}

footer a {
   
     display: block;
     color: var(--nav-link-color);
     text-decoration: none;
     padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
   

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
 
  }

  .hero img {
    width: 100%; 
  }

  .TopTextBanner {
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 10%; 
    width: 100%; 
    margin-top: 0;  
 

  }
.TopTextBanner h2{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29, 25, 252, 0.7);
    height: 35%; 
    width: 80%; 
    margin-top: 0;  
    display: flex;
   

  }


  .centered p {
    
    color: white;
    font-size: 14px;
  }
  .centered img{
    width: 30%; 
    display: table; 
    margin: 20px
    
  }

  .img-rapids{
    width: 100%; 
   

  }
  .img-rapids img {
    width: 80%;
  }

  .footer section {
    display: flex;
margin-bottom: 10px;
  }


  .header img{
    width: 20%;
  }

  h3, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
 