@import url('https://fonts.google.com/icons');


:root {
    --primary-color: #FE5F55;
    --secundary-color: #F0B67F;
    --accent1-color: #D6D1B1;
    --accent2-color: #C7EFCF;
   
    --heading-font: 'Angkor', serif;
    --paragraph-font: 'Open Sans', serif;
   
    --nav-background-color:#357743;
    --nav-link-color:  #bb7e45;
    --nav-hover-link-color: #a89d53;
    --nav-hover-backgound-color: #34693e;
   }

header a {
   
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

p {
    padding: 25px;
}

nav a {
     display: block;
     color: var(--nav-link-color);
     text-decoration: none;
     padding: 1rem;
}

footer a {
   
     display: block;
     color: var(--nav-link-color);
     text-decoration: none;
     padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

.img {
    display: block;
    width: 100%;
    height: auto;
  }

  .img_happy {
    width: 100%;
    height: auto;

    align-content:right;
    margin-left: 0;
    margin-right: 0;



  }

  .centered {
    position: absolute;
    left: 10%;
    background-color: rgba(29, 25, 252, 0.7);
    width: 80%; 
    margin-top: 30px;  
    display: flex;
   

  }

  .TopTextBanner {
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 10%; 
    width: 100%; 
    margin-top: 0;  
  }